<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
    <style>
        .jumbotron{
            padding-top: 50px;
            margin-left: 100px;
            margin-right: 100px;
        }
    </style>
</head>
<body>
<div th:replace="~{html/fragements/admin::navigate}"></div>
<div class="container">
    <div class="jumbotron mt-4">
        <form method="POST" th:object="${comView}" th:action="@{/admin/saveUpdateCompany}">
            <table class="table table-bordered table-hover">
                <thead class="table tableSubHeadingColor bg-info">
                <th scope="col" colspan="2" class="text-center">Update Company</th>
                </thead>
                <tbody>
                <tr>
                    <td class="form-group">Company Id</td>
                    <td><label>
                        <input type="text" class="form-control" th:field="${comView.id}" readonly>
                    </label></td>
                </tr>
                <tr>
                    <td class="form-group">Web</td>
                    <td><label>
                        <input type="text" class="form-control" th:field="${comView.CWeb}" required>
                    </label></td>
                </tr>
                <tr>
                    <td class="form-group">Location</td>
                    <td><label>
                        <input type="text" class="form-control" th:field="${comView.CLocation}" required>
                    </label></td>
                </tr>
                <tr>
                    <td class="form-group float-right" colspan="2">
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                        <input type="reset" value="Reset" class="btn btn-danger"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>